.advantages
    padding: rem(60px) 0

.advantages-title
    text-align: center
    letter-spacing: 0
    color: #506a85
.advantages-text
    color: #73879c
    text-align: center
    line-height: rem(25px)
    padding: 0 rem(125px)
    margin-bottom: rem(40px)
    +phone
        padding: 0

.inline
    color: #00bc9c
    font-size: rem(44px)
    margin-right: rem(15px)
.item-title
    color: #506a85
    letter-spacing: rem(1px)
    line-height: rem(34px)
.item-text
    color: #73879c
    line-height: rem(25px)
.flex
    display: flex
    justify-content: space-between
